.order_container {
    border: 1px solid black;
    margin: 5px;
    width: 400px;
}
.order_item_container {
    margin: 5px;
    border: 1px solid black
}

.cancel_order_button {
    margin-left: 5px;
}