.cart_container{
    border: 1px solid black;
    margin: 5px;
    width: 700px;
}

.heading {
    display: block;
    width: 100%
}

.item_container {
    display: block;
}

.total-amount {
    font-size: 30px;
    font-weight: bold;
}

.total_amount {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.checkout_button {
    margin-left: 5px;
}