.cart_container{
    border: 1px solid black;
    margin: 5px;
    width: 700px;
}

.heading {
    display: block;
    width: 100%
}

.item_container {
    display: block;
}

.total-amount{
    font-size: 30px;
    font-weight: bold;
}